body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.invisible {
  visibility: hidden;
}

.completed {
  color: white;
  font-weight: 800;
  background-color: rgb(156, 156, 156);
  
}

.btn-danger {
  margin-left: 10px;
}
.btn-info {
  margin-left: 10px;
}

.btn-primary {
  margin-left: 8px;
}
.Toolbar {
  text-align: right;

}

#addWorkOrder {
  text-align: right;
}
